.color-grey {
    color: #F4F4F4;
}
.color-darkblue {
    // color: rgb(22, 33, 47);
    color: #030404;
}
.bg-darkblue {
    // background-color: rgb(22, 33, 47);
    background-color: #030404;
}
.background-grey {
    background-color: #F4F4F4;
}

.bg-secondary-own {
    background-color: rgb(219,223,227);
}
.card {
    padding: 20px;
    width: 372px;
    height: auto;
    border: 0;
}
.hero-fold {
    padding-top: 50px;
    padding-bottom: 100px;
}