.border-bottom-grey {
    border-bottom: 1px solid grey;
}

.header-container {
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header-container a {
    text-decoration: none
}
