.border-bottom-grey {
    border-bottom: 1px solid grey;
}

.footer-container {
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    // background: #16212f;
    background: #030404;
    justify-content: center;
    border-top: 1px solid grey;

}

